@{ 
    var prefix = "portfolio" ;
    var strUrl = HttpContext.Current.Request.Url.AbsolutePath;

    var navigationMenu = (IEnumerable<KamikazeTrungThanh.Web.Models.ProductCategoryViewModel>)ViewBag.NavigationMenu;
    var navigationMenuChild = (IEnumerable<KamikazeTrungThanh.Web.Models.ProductCategoryViewModel>)ViewBag.NavigationMenuChild;
}

<div class="movies_nav container">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header navbar-left">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="navbar">
                <nav>
                    <ul class="nav navbar-nav">
                        @if (navigationMenu.Count() > 0)
                        {
                            var countSub = 0;
                            foreach (var item in navigationMenu)
                            {
                                foreach (var tamp in navigationMenuChild)
                                {
                                    if (item.ID == tamp.ParentID)
                                    {
                                        countSub = countSub + 1;
                                        break;
                                    }

                                }

                                var UrlIndex = "/" + item.MetaKeyword + "-index.html";

                                if (!string.IsNullOrEmpty(strUrl) && strUrl.Contains(item.MetaKeyword))
                                {

                                    if (countSub > 0)
                                    {
                                        <li class="active">
                                            <a href="@UrlIndex" class="dropdown-toggle">@item.Name<b class="caret"></b></a>

                                            <ul class="dropdown-menu multi-column columns-3">
                                                <li>
                                                    <ul class="multi-column-dropdown">
                                                       
                                                            @foreach (var itemChild in navigationMenuChild)
                                                            {
                                                                if (itemChild.ParentID == item.ID)
                                                                {
                                                                    var countChildChild = 0;
                                                                    foreach (var itemChildChild in navigationMenuChild)
                                                                    {
                                                                        if (itemChildChild.ParentID == itemChild.ID)
                                                                        {
                                                                            countChildChild = countChildChild + 1;
                                                                            break;
                                                                        }

                                                                    }
                                                                    <li class="dropdown">
                                                                        @if (countChildChild > 0)
                                                                        {
                                                                            <a href="#" class="dropdown-toggle dropdown-toggle-sub" data-toggle="dropdown">@itemChild.Name<b class="caret"></b></a>
                                                                            <ul class="dropdown-menu multi-column columns-3 dropdown-menu-sub">
                                                                                @foreach (var itemChildChild in navigationMenuChild)
                                                                                {
                                                                                    if (itemChildChild.ParentID == itemChild.ID)
                                                                                    {
                                                                                        var Url = "/"+ item.MetaKeyword + "-"+itemChildChild.Alias+"-"+itemChildChild.ID+".html";
                                                                                        <li><a href="@Url">@itemChildChild.Name</a></li>
                                                                                    }

                                                                                }


                                                                            </ul>
                                                                        }
                                                                        else
                                                                        {
                                                                            var Url = "/" + item.MetaKeyword + "-" + itemChild.Alias + "-" + itemChild.ID + ".html";
                                                                            <a href="@Url" class="dropdown-toggle dropdown-toggle-sub">@itemChild.Name</a>
                                                                        }

                                                                    </li>
                                                                }



                                                            }
                                                            
                                                            
                                                 
                                                     </ul>
                                                </li>
                                             </ul>

                                        </li>
                                        countSub = 0;

                                    }
                                    else
                                    {
                                        <li class="active">
                                            <a href="@UrlIndex">@item.Name</a>
                                        </li>
                                    }

                                }
                                else
                                {
                                    
                                    if (countSub > 0)
                                    {

                                        <li class="">
                                            
                                            <a href="@UrlIndex" class="dropdown-toggle">@item.Name<b class="caret"></b></a>

                                            <ul class="dropdown-menu multi-column columns-3">
                                                <li>
                                                    <ul class="multi-column-dropdown">
                                                        
                                                            @foreach (var itemChild in navigationMenuChild)
                                                            {
                                                                if (itemChild.ParentID == item.ID)
                                                                {
                                                                    var countChildChild = 0;
                                                                    foreach (var itemChildChild in navigationMenuChild)
                                                                    {
                                                                        if (itemChildChild.ParentID == itemChild.ID)
                                                                        {
                                                                            countChildChild = countChildChild + 1;
                                                                            break;
                                                                        }

                                                                    }
                                                                    <li class="dropdown">
                                                                        @if (countChildChild > 0)
                                                                        {
                                                                            <a href="#" class="dropdown-toggle dropdown-toggle-sub" data-toggle="dropdown">@itemChild.Name<b class="caret"></b></a>
                                                                            <ul class="dropdown-menu multi-column columns-3 dropdown-menu-sub">
                                                                                @foreach (var itemChildChild in navigationMenuChild)
                                                                                {
                                                                                    if (itemChildChild.ParentID == itemChild.ID)
                                                                                    {
                                                                                        var Url = "/" + item.MetaKeyword + "-" + itemChildChild.Alias + "-" + itemChildChild.ID + ".html";
                                                                                        <li><a href="@Url">@itemChildChild.Name</a></li>
                                                                                    }

                                                                                }


                                                                            </ul>
                                                                        }
                                                                        else
                                                                        {
                                                                            var Url = "/" + item.MetaKeyword + "-" + itemChild.Alias + "-" + itemChild.ID + ".html";
                                                                            <a href="@Url" class="dropdown-toggle dropdown-toggle-sub">@itemChild.Name</a>
                                                                        }

                                                                    </li>
                                                                }



                                                            }


                                                       
                                                    </ul>
                                                </li>
                                            </ul>

                                        </li>
                                        countSub = 0;

                                    }
                                    else
                                    {
                                        <li class="">
                                            <a href="@UrlIndex">@item.Name</a>
                                        </li>
                                    }
                                }

                            }
                        }
                        
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
</div>