@model IEnumerable<KamikazeTrungThanh.Web.Models.ProductViewModel>
@{ 
    var aliasDefault = "mai-xep-di-dong";
}
<div class="col-md-9 product-w3ls-right">
    @{ Html.RenderAction("ProductHeaderPartialView", "Portfolio");}
    <div class="products-row">
        @if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <div class="col-md-4 product-grids">
                    <div class="agile-products">
                        <div class="new-tag"><h6>new<br>Hot !!!</h6></div>
                        <a href="#" class="last-portfolio" data-url="@item.Alias" data-id="@item.ID" data-category="@aliasDefault"><img src="@item.Image" class="img-responsive" alt="img"></a>
                        <div class="agile-product-text">
                            <h5><a href="#" class="last-portfolio" data-url="@item.Alias" data-id="@item.ID" data-category="@aliasDefault">@item.Name</a></h5>
                            <a href="#" class="last-portfolio w3ls-cart pw3ls-cart" data-url="@item.Alias" data-id="@item.ID" data-category="@aliasDefault"><i class="fa fa-list" aria-hidden="true"></i> Xem chi tiết</a>
                            @*<h6><del>$200</del> $100</h6>*@

                        </div>
                    </div>
                </div>
            }
        }

        <div class="clearfix"> </div>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".last-portfolio").click(function (e) {
            e.preventDefault();
            $("#product").html("");
            var aliasPortfolio = $(this).attr("data-url");
            var idPortfolio = $(this).attr("data-id");
            var aliasCategory = $(this).attr("data-category");
            $.ajax({
                async: true,
                url: '@Url.Action("Detail","Portfolio")',

                data: {
                    'alias': aliasPortfolio,
                    'id': idPortfolio,
                    'aliasCategory': aliasCategory
                },
                type: "POST",
                success: function (data) {
                    console.log("co data tai detail = ");
                    $("#product").html(data);
                },
                error: function (xhr) {
                    alert(xhr);
                }
            });
        });

    });
</script>