@model KamikazeTrungThanh.Web.Models.ProductViewModel
@{
    var aliasDefault = (string)ViewBag.aliasDefault;
    var aliasCategory = (string)ViewBag.aliasCategory;
    var moreImages = (List<string>)ViewBag.moreImages;
    var countImage = 0;
}
@section SlideJS{

    <script src="~/Assets/client/js/jquery.flexisel.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $("#flexiselDemo1").flexisel({
                visibleItems: 4,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 3
                    }
                }
            });

        });
    </script>
}


<div class="product-w3ls-right">
    @{ Html.RenderAction("ProductHeaderPartialView", "Portfolio", new { alias = aliasCategory });}
    <div class="products-row">
    
        <div class="col-md-12 portfolio_summary">
            <br />
            <div class="row">
                <div class="col-md-8">
                    <div id="carousel-example-generic" class="carousel slide picture_border" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">

                            @foreach (var item in moreImages)
                            {
                                countImage = countImage + 1;
                                if (countImage == 1)
                                {

                                    <li data-target="#carousel-example-generic" data-slide-to="@countImage" class="active"></li>
                                }
                                else
                                {
                                    <li data-target="#carousel-example-generic" data-slide-to="@countImage" class=""></li>
                                }

                            }


                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">

                            @{
                                countImage = 0;
                            }
                            @foreach (var itemSlide in moreImages)
                            {

                                if (countImage == 0)
                                {
                                    countImage = countImage + 1;
                                    <div class="item active">
                                        <img class="img-responsive" src="@itemSlide" title="@Model.Name">
                                    </div>
                                }
                                else
                                {
                                    <div class="item">
                                        <img class="img-responsive" src="@itemSlide" title="@Model.Name">
                                    </div>
                                }

                            }

                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <p class="portfolio_summary_title">Thông tin chi tiết</p>
                    <span class="portfolio_summary_title_detail">
                        <strong>Cơ sở Trung Thanh</strong>
                        <br />
                        <strong>Sản phẩm: </strong> @Model.Name
                        <br />
                        <strong>Hotline: </strong> 0908.999.623
                        <br />
                        <strong>Email: </strong> inbaobitt@gmail.com
                        <br />
                        <strong>Xưởng lắp đặt: </strong> C5/1B Đường Nữ Dân Công, Bình Chánh, TP.HCM
                    </span>
                    
                </div>
            </div>
           
           
            <br />
            <div class="portfolio_summary_content">
                <span>
                     @Html.Raw(@Model.Content)
                </span>

            </div>
        </div>


         
        <div class="clearfix"> </div>
    </div>

</div>