@model IEnumerable<KamikazeTrungThanh.Web.Models.ProductCategoryViewModel>
@{ 
    
}

    
    <div class="col-md-3">
        <div class="product-top">
            <h4> Danh mục sản phẩm</h4>
        </div>
        <div class="rsidebar-top">
            <div class="sidebar-row">
                
                <ul class="faq">
                    @foreach (var item in Model)
                    {
                        if (item.Description.Contains("end"))
                        {
                            var flag = false;
                            foreach (var sub in Model)
                            {
                                if (item.ParentID == sub.ID)
                                {
                                    flag = true;
                                }
                            }
                            if (flag == true)
                            {

                            }
                            else
                            {
                                
                                <li class="item1">
                                    <a href="" class="last-item" data-url="@item.Alias">
                                        @item.Name
                                    </a>
                                </li>
                            }

                        }
                        else
                        {
                            <li class="item1">
                                <a href="#" class="item-menu">
                                    @item.Name
                                    <span class="glyphicon glyphicon-menu-down"></span>
                                </a>

                                <ul>
                                    @foreach (var sub in Model)
                                    {
                                        if (item.ID == sub.ParentID)
                                        {
                                           
                                            <li class="subitem1">
                                                <a href="" class="last-item" data-url="@sub.Alias">
                                                    @sub.Name
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>


                        }

                    }

                </ul>

            </div>

        </div>
        @{ 
            var UrlCare = "/portfolio-"+Model.FirstOrDefault().Alias+"-"+Model.FirstOrDefault().ID+".html" ;
        }
        <div class="related-row">
            <h4>Bạn quan tâm</h4>
            <div class="galry-like">
                <a href="@UrlCare"><img src="@Model.FirstOrDefault().Image" class="img-responsive" alt="img"></a>
                <br />
                <h4><a href="@UrlCare">@Model.FirstOrDefault().Name</a></h4>
                
            </div>
        </div>
    </div>

<!-- script for tabs -->
<script type="text/javascript">
        $(function () {

            var menu_ul = $('.faq > li > ul'),
                    menu_a = $('.faq > li > a');

            menu_ul.hide();

            menu_a.click(function (e) {

                if (!$(this).hasClass('active')) {
                    menu_a.removeClass('active');
                    menu_ul.filter(':visible').slideUp('normal');
                    $(this).addClass('active').next().stop(true, true).slideDown('normal');
                } else {
                    $(this).removeClass('active');
                    $(this).next().stop(true, true).slideUp('normal');
                }

                e.preventDefault();
            });

        });

        $(document).ready(function () {
            $(".last-item").click(function (e) {
                e.preventDefault();
                $("#product").html("");
                var aliasProductCategory = $(this).attr("data-url");
                console.log("alias = "+ aliasProductCategory);
                $.ajax({
                    async: true,
                    url: '@Url.Action("Index","Portfolio")',

                    data: { 'aliasProductCategory': aliasProductCategory },
                    type: "POST",
                    success: function (data) {
                        console.log("co data = ");
                        $("#product").html(data);
                    },
                    error: function (xhr) {
                        alert(xhr);
                    }
                });
            });


        });

</script>
<!-- script for tabs -->
